<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.employment.course.dao.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.employment.course.entity.Course">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="desc" />
        <result column="url" property="url" />
        <result column="type" property="type" />
        <result column="pid" property="pid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, url, type, pid
    </sql>
    <select id="selectParentCourse" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from course t
        where t.pid = 0
    </select>

    <select id="selectSonCourse" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from course t
        where t.pid > 0
    </select>

    <select id="selectSonCourseByPid" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from course t
        where t.pid = #{id}
    </select>

</mapper>
