<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/fontsGoogleapis.css" rel="stylesheet">
    <!--<link href="css/sb-admin-2.min.css" rel="stylesheet">-->

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet">

    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css" rel="stylesheet">
    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #loading {
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" style="text-align: right">
                    <span class="label label-primary" style="font-size: large;float: left">课程列表</span>
                    <label class="text-md font-weight-bold text-warning text-uppercase mb-1" id="tableWarning1"></label>
                    <button id="membersAdd1" class="btn btn-sm btn-success align-self-center" type="button"
                            data-toggle="modal"
                            data-target="#addModal1">增加
                    </button>
                    <button id="membersEdit1" class="btn btn-sm btn-warning" type="button"
                            data-toggle="modal">编辑
                    </button>
                    <button id="membersDel1" class="btn btn-sm btn-danger" type="button"
                            data-toggle="modal">
                        删除
                    </button>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" id="pTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>学员姓名</th>
                            <th>邮箱</th>
                            <th>电话</th>
                            <th>简历</th>
                            <th>密码</th>
                            <th>测试记录</th>
                            <th>注册日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" style="text-align: right">
                    <span class="label label-primary" style="font-size: large;float: left">课程内容</span>
                    <label class="text-md font-weight-bold text-warning text-uppercase mb-1" id="tableWarning2"></label>
                    <button id="membersAdd2" class="btn btn-sm btn-success align-self-center" type="button"
                            data-toggle="modal"
                            data-target="#addModal2">增加
                    </button>
                    <button id="membersEdit2" class="btn btn-sm btn-warning" type="button"
                            data-toggle="modal">编辑
                    </button>
                    <button id="membersDel2" class="btn btn-sm btn-danger" type="button"
                            data-toggle="modal">
                        删除
                    </button>
                </div>

                <div class="panel-body">
                    <table class="table table-bordered" id="sTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>学员姓名</th>
                            <th>邮箱</th>
                            <th>电话</th>
                            <th>简历</th>
                            <th>密码</th>
                            <th>测试记录</th>
                            <th>注册日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div id='loading'>loading...</div>

<!-- 日期事件弹出框 -->
<div class="modal fade" id="addModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">事件信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="memberid">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">内容:</label>
                        <input type="text" class="form-control" id="addtitle">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">日期:</label>
                        <input type="text" class="form-control" id="adddate" readonly>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">开始时间:</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="addstart" type="text" class="form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">结束时间:</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="addend" type="text" class="form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">关闭</button>
                <button type="button" id="addEvent" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 日期事件弹出框 -->
<div class="modal fade" id="addModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">事件信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="memberid">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">内容:</label>
                        <input type="text" class="form-control" id="addtitle">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">日期:</label>
                        <input type="text" class="form-control" id="adddate" readonly>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">开始时间:</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="addstart" type="text" class="form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">结束时间:</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="addend" type="text" class="form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">关闭</button>
                <button type="button" id="addEvent" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 时间信息修改 -->
<div class="modal fade" id="editModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">事件信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="editid">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">内容:</label>
                        <input type="text" class="form-control" id="edittitle">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">日期:</label>
                        <input type="text" class="form-control" id="editdate" readonly>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">开始时间:</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="editstart" type="text" class="form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">结束时间:</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="editend" type="text" class="form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="delEvent" style="float:left" class="btn btn-danger"
                        data-dismiss="modal">
                    删除
                </button>
                <button type="button" class="btn btn-light" data-dismiss="modal">关闭</button>
                <button type="button" id="editEvent" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 时间信息修改 -->
<div class="modal fade" id="editModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">事件信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="editid">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">内容:</label>
                        <input type="text" class="form-control" id="edittitle">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">日期:</label>
                        <input type="text" class="form-control" id="editdate" readonly>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">开始时间:</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="editstart" type="text" class="form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">结束时间:</label>
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="editend" type="text" class="form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="delEvent" style="float:left" class="btn btn-danger"
                        data-dismiss="modal">
                    删除
                </button>
                <button type="button" class="btn btn-light" data-dismiss="modal">关闭</button>
                <button type="button" id="editEvent" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

<!-- <script src="js/bootstrap-datetimepicker.min.js"></script> -->

<script src="https://cdn.bootcss.com/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>

<script src="js/demo/class-calendar.js"></script>
<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- <script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script> -->
<!-- Page level custom scripts -->
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>

<script src="js/jquery.timers-1.2.js" type="text/javascript"></script>
<script src="js/demo/fitness-program.js"></script>
<script>
    $('#addEvent').click(function () {
        var addstart = $("#adddate").val() + " " + $("#addstart").val();
        var addend = $("#adddate").val() + " " + $("#addend").val();
        $.ajax({
            url: "fitnessProgramAdd",
            dataType: "json", //返回格式为json
            async: false, //请求是否异步，默认为异步，这也是ajax重要特性
            data: {
                "title": $("#addtitle").val(),
                "start": addstart,
                "end": addend,
                "type": 2,
                "memberid": $("#memberid").val()
            }, //参数值
            type: "GET", //请求方式
            success: function (result) {
                if (result.success) {
                    calendar.refetchEvents();
                    /* var url = "selectByMemberId/" + $("#memberid").val();
                    calendar.getEvents().filter(function(event){
                        event.remove();
                    })
                    calendar.addEventSource(url); */
                    $('#addModal').modal('toggle');
                    $("#addtitle").val('');
                    parent.showMessage('success', result.errMsg);
                } else {
                    parent.showMessage('danger', result.errMsg);
                }
            }
        })
    });

    $('#editEvent').click(function () {
        var addstart = $("#editdate").val() + " " + $("#editstart").val();
        var addend = $("#editdate").val() + " " + $("#editend").val();
        $.ajax({
            url: "fitnessProgramEdit",
            dataType: "json", //返回格式为json
            async: false, //请求是否异步，默认为异步，这也是ajax重要特性
            data: {
                "id": $("#editid").val(),
                "title": $("#edittitle").val(),
                "start": editstart,
                "end": editend
            }, //参数值
            type: "GET", //请求方式
            success: function (result) {
                if (result.success) {
                    calendar.refetchEvents();
                    /* var url = "selectByMemberId/" + $("#editid").val();
                      calendar.getEvents().filter(function(event){
                         event.remove();
                      })
                      calendar.addEventSource(url); */
                    $('#editModal').modal('toggle');
                    parent.showMessage('success', result.errMsg);
                } else {
                    parent.showMessage('danger', result.errMsg);
                }
            }
        })
    });

    $('#delEvent').click(function () {
        var message = parent.confirm("确定删除吗？");
        if (message) {
            $.ajax({
                url: "fitnessProgramDel",
                dataType: "json", //返回格式为json
                async: false, //请求是否异步，默认为异步，这也是ajax重要特性
                data: {
                    "id": $("#editid").val(),
                }, //参数值
                type: "GET", //请求方式
                success: function (result) {
                    if (result.success) {
                        calendar.refetchEvents();
                        $('#editModal').modal('toggle');
                        parent.showMessage('success', result.errMsg);
                    } else {
                        parent.showMessage('danger', result.errMsg);
                    }
                }
            })
        } else {
        }

    });
</script>
</body>
</html>