<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>健身俱乐部</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="css/fontsGoogleapis.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.css" rel="stylesheet">

<style>
p{
	margin-left:30px;
}

</style>
</head>

<body  id="page-top">
	<div class="card-header py-3" style="border-bottom: 0px">
      <h5 class="m-0 font-weight-bold text-primary">欢迎页<small>   >>系统说明</small></h5>
      <br>

		<p>服务端：</p>
		
		<p>Spring Boot2.1.3.RELEASE+Mybatis3.3.0+druid1.1.9等</p>
		
		<p>前端：</p>
		
		<p>JQuery+Bootstrap3.3.5+Start Bootstrap-SB Admin 2（基于bootstrap的响应式后台管理模板）等</p>
		
		<p>数据存储：</P>
		
		<P>数据库使用Mysql</P>
		
		<p>主要功能：</p>
		
		<p>系统功能：会员建档管理、课表铺排、专业教练服务、健身计划及健身记录、会员特权服务、定期问卷调查及服务升级等</p>
		
		<p>日志信息管理：用户登录信息、用户操作信息</p>
		
		<p>多级菜单：最多支持二级菜单</p>
		
		<p>控制台：欢迎页</p>
		
		<p>特点：</p>
		
		<p>1、简单，项目代码均添加注释，阅读方便</p>
		
		<p>2、精简，采用经典的MVC模式，对数据访问层和业务逻辑层进行了抽象，大大提高开发效率</p>
		
		<p>3、项目使用maven进行构建</p>
		
		<p>4、使用CDN加速，更快的页面加载体验</p>
		
		<p>5、使用bootstrap响应式布局，PC、移动端完美自适应</p>
		
		<p>6、地址栏智能过滤，防止用户直接输入地址进行操作</p>
		
		<p>7、404,500页面</p>
		
		<p>8、基于mybatis-generator代码自动生成</p>
		
		<p>9、Echarts 4.2.1 图表应用</p>
		
		<p>计划中功能:</p>
		
		<p>10、shiro</p>
		
		<p>11、基于apidoc接口文档自动生成</p>
		
		<p>部署方法：cmd java -jar jianshen.jar</p>
		
		<p>mybatisgenerator方法：mvn mybatis-generator:generate</p>
	</div>
	  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
    <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
</body>

</html>
