<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>用户管理</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/fontsGoogleapis.css" rel="stylesheet">
    <!--<link href="css/sb-admin-2.min.css" rel="stylesheet">-->

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="css/select.dataTables.min.css" rel="stylesheet">

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="text-align: right">
                <span class="label label-primary" style="font-size: large;float: left">用户信息</span>
                <label class="text-md font-weight-bold text-warning text-uppercase mb-1" id="sTableWarning"></label>
                <button id="sAdd" class="btn btn-sm btn-success align-self-center" type="button"
                        data-target="#sAddModal">增加
                </button>
                <button id="sEdit" class="btn btn-sm btn-warning" type="button"
                        data-toggle="#sEditModal">编辑
                </button>
                <button id="sDel" class="btn btn-sm btn-danger" type="button"
                        data-toggle="#sDelModal">
                    删除
                </button>
            </div>

            <div class="panel-body">
                <table class="table table-bordered" id="sTable" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
    </div>
</div>
<div id='loading'>loadinginput.</div>

<!-- 二级添加modal -->
<div class="modal fade" id="sAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新增用户</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="sAddName" class="control-label">用户名称:</label>
                        <input type="text" class="form-control" id="sAddName">
                    </div>
                    <div class="form-group">
                        <label for="sAddDesc" class="control-label">用户描述:</label>
                        <input type="text" class="form-control" id="sAddDesc">
                    </div>
                </form>
                <form enctype="multipart/form-data">
                    <div class="file-loading">
                        <input id="sAddFile" name="file" type="file" multiple>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="sAddSave" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 二级 -->
<div class="modal fade" id="sEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑用户</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="sEditId">
                    <div class="form-group">
                        <label for="sEditName" class="control-label">用户名称:</label>
                        <input type="text" class="form-control" id="sEditName">
                    </div>
                    <div class="form-group">
                        <label for="sEditDesc" class="control-label">用户描述:</label>
                        <input type="text" class="form-control" id="sEditDesc">
                    </div>
                </form>
                <form enctype="multipart/form-data">
                    <div class="file-loading">
                        <input id="sEditFile" name="file" type="file" multiple>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="sEditSave" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 二级 del Modal-->
<div class="modal fade" id="sDelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">确认删除</h4>
            </div>
            <div class="modal-body">数据删除后将无法找回！</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="sDelSave" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/dataTables.select.min.js"></script>
<script src="js/demo/users.js"></script>

</body>

</html>
