<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.employment.mapper.CalendarMapper" >
  <resultMap id="BaseResultMap" type="com.cn.employment.entity.Calendar" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="allday" property="allday" jdbcType="INTEGER" />
    <result column="start" property="start" jdbcType="VARCHAR" />
    <result column="end" property="end" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="classname" property="classname" jdbcType="VARCHAR" />
    <result column="editable" property="editable" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="backgroundcolor" property="backgroundcolor" jdbcType="VARCHAR" />
    <result column="bordercolor" property="bordercolor" jdbcType="VARCHAR" />
    <result column="textcolor" property="textcolor" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="memberid" property="memberid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from calendar
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.employment.entity.Calendar" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into calendar (title, allday, `start`, 
      `end`, url, classname, 
      editable, `source`, color, 
      backgroundcolor, bordercolor, textcolor, 
      `type`, memberid)
    values (#{title,jdbcType=VARCHAR}, #{allday,jdbcType=INTEGER}, #{start,jdbcType=VARCHAR}, 
      #{end,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR}, 
      #{editable,jdbcType=INTEGER}, #{source,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{backgroundcolor,jdbcType=VARCHAR}, #{bordercolor,jdbcType=VARCHAR}, #{textcolor,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{memberid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cn.employment.entity.Calendar" >
    update calendar
    set title = #{title,jdbcType=VARCHAR},
      allday = #{allday,jdbcType=INTEGER},
      `start` = #{start,jdbcType=VARCHAR},
      `end` = #{end,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      classname = #{classname,jdbcType=VARCHAR},
      editable = #{editable,jdbcType=INTEGER},
      `source` = #{source,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      backgroundcolor = #{backgroundcolor,jdbcType=VARCHAR},
      bordercolor = #{bordercolor,jdbcType=VARCHAR},
      textcolor = #{textcolor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, title, allday, `start`, `end`, url, classname, editable, `source`, color, 
    backgroundcolor, bordercolor, textcolor, `type`, memberid
    from calendar
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, title, allday, `start`, `end`, url, classname, editable, `source`, color, 
    backgroundcolor, bordercolor, textcolor, `type`, memberid
    from calendar
    where `type` =1
  </select>
  <select id="selectByMemberId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, title, allday, `start`, `end`, url, classname, editable, `source`, color, 
    backgroundcolor, bordercolor, textcolor, `type`, memberid
    from calendar
    where `type`=2 
    and memberid = #{memberid,jdbcType=INTEGER}
  </select>
  <select id="selectRecordByMemberId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, title, allday, `start`, `end`, url, classname, editable, `source`, color, 
    backgroundcolor, bordercolor, textcolor, `type`, memberid
    from calendar
    where `type`=3 
    and memberid = #{memberid,jdbcType=INTEGER}
  </select>
</mapper>