<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.employment.station.dao.StationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.employment.station.entity.StationEntity">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="url" property="url" />
        <result column="type" property="type" />
        <result column="pid" property="pid" />
        <result column="size" property="size" />
        <result column="filetype" property="filetype" />
        <result column="caption" property="caption" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, description, url, type, pid, size, filetype, caption
    </sql>
    <select id="selectParentStation" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from station t
        where t.pid = 0
    </select>

    <select id="selectSonStation" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from station t
        where t.pid > 0
    </select>

    <select id="selectSonStationByPid" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from station t
        where t.pid = #{id}
    </select>

    <delete id="delByPId">
        delete from station t where t.pid = #{id}
    </delete>

    <select id="selectAllStation" resultMap="BaseResultMap">
        select id, name, description, url, type, pid, size, filetype, caption from station t
    </select>

    <select id="selectAllStationRecruit" resultMap="BaseResultMap">
        /*select id, name, description, url, type, pid, size, filetype, caption
          from station t
          left join recruit t2
            on t.id = t2.pid*/
    </select>

</mapper>
