<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css" rel="stylesheet">

<link href='packages/core/main.css' rel='stylesheet' />
<link href='packages/daygrid/main.css' rel='stylesheet' />
<link href='packages/timegrid/main.css' rel='stylesheet' />
<script src='packages/core/main.js'></script>
<script src='packages/interaction/main.js'></script>
<script src='packages/daygrid/main.js'></script>
<script src='packages/timegrid/main.js'></script>
<script src='packages/moment/main.js'></script>
<script src='js/moment.js'></script>
<style>
  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 1200px;
    margin: 0 auto;
  }

  #loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
</style>
<script>
var calendar;
var table;
document.addEventListener('DOMContentLoaded', function() {
	
    var calendarEl = document.getElementById('calendar');

    calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      defaultDate: '2019-03-12',
      navLinks: false, // can click day/week names to navigate views
      selectable: false,
      locale:'zh-cn',
      selectMirror: true,
      select: function(arg) {
      },
      editable: false,
      eventLimit: true, // allow "more" link when too many events
      events: {
    	  "url": ""
      },
      loading: function(bool) {
          document.getElementById('loading').style.display =
            bool ? 'block' : 'none';
      },
      eventClick: function(info) {
   	
  	  }
    });

    calendar.render();
  });
</script>
</head>
<body>
  <div id='loading'>loading...</div>
  	<div id='calendar' class="col-md-7"></div>
  	<div class="col-md-5">
  	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
       <thead>
         <tr>
           <th>会员姓名</th>
           <th>会员卡号</th>
         </tr>
       </thead>
       <tbody>
       </tbody>
     </table>
     </div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    
    <!-- <script src="js/bootstrap-datetimepicker.min.js"></script> -->
    
    <script src="https://cdn.bootcss.com/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
    
    <script src="js/demo/class-calendar.js"></script>
    <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- <script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script> -->
  <!-- Page level custom scripts -->
  <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
  
  <script src="js/jquery.timers-1.2.js" type="text/javascript"></script>
  <script src="js/demo/fitness-record.js"></script>

</body>
</html>