<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.employment.recruit.dao.RecruitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cn.employment.recruit.entity.RecruitEntity">
    <result column="id" property="id" />
        <result column="company" property="company" />
        <result column="job" property="job" />
        <result column="position" property="position" />
        <result column="year" property="year" />
        <result column="education" property="education" />
        <result column="detail" property="detail" />
        <result column="pid" property="pid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        company, salary, job, position, year, education, detail, pid
    </sql>

    <select id="recruitList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from recruit
    </select>
</mapper>
