<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'/>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="css/fontsGoogleapis.css" rel="stylesheet">
  <!--<link href="css/sb-admin-2.min.css" rel="stylesheet">-->

  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/zTreeStyle.css" rel="stylesheet">
  <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet">

  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="css/easyui.css" rel="stylesheet">
  <link href="css/icon.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css" rel="stylesheet">
  <style>

    #loading {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  </style>
</head>
<body>  
<div id='loading'>loading...</div>

    <body class="easyui-layout">
        
        
        <div data-options="region:'west',title:'行业',split:true" style="width:300px;">
            <ul id="tree" class="ztree"></ul>
        
        </div>
        <div data-options="region:'center',title:'岗位'" style="padding:5px;background:#eee;">
            <div class="card-header py-3">
            
              <label class="m-0 font-weight-bold text-primary">会员档案</label>
              <div style="float:right">
                <label class="text-md font-weight-bold text-warning text-uppercase mb-1" id="tableWarning"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button id="membersAdd" class="btn btn-success" type="button" data-toggle="modal" data-target="#addModal">增加</button>
                <button id="membersEdit" class="btn btn-warning" type="button" data-toggle="modal">编辑</button>
                <button id="membersDel" class="btn btn-danger" type="button" data-toggle="modal">删除</button>
              </div>
              
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>学员姓名</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div> 
        </div>
    </body>

<!--  <div class=" easyui-layout">
          <div  data-options="region:'west',title:'West',split:true" style="width:300px;">
              <ul id="tree" class="ztree"></ul>
          </div>

          <!-- DataTales Example -->
        
          <div data-options="region:'center',title:'center title'">
            <div class="card-header py-3">
            
              <label class="m-0 font-weight-bold text-primary">会员档案</label>
              <div style="float:right">
                <label class="text-md font-weight-bold text-warning text-uppercase mb-1" id="tableWarning"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button id="membersAdd" class="btn btn-success" type="button" data-toggle="modal" data-target="#addModal">增加</button>
                <button id="membersEdit" class="btn btn-warning" type="button" data-toggle="modal">编辑</button>
                <button id="membersDel" class="btn btn-danger" type="button" data-toggle="modal">删除</button>
              </div>
              
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>学员姓名</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
-->
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

<!-- <script src="js/bootstrap-datetimepicker.min.js"></script> -->

<script src="https://cdn.bootcss.com/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>

<script src="js/demo/class-calendar.js"></script>
<script src="js/jquery.ztree.all.min.js"></script>
<script src="js/jquery.easyui.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- <script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script> -->
<!-- Page level custom scripts -->
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>

<script src="js/jquery.timers-1.2.js" type="text/javascript"></script>
<script src="js/demo/job.js"></script>
<script>
  $('#addEvent').click(function () {
    var addstart = $("#adddate").val() + " " + $("#addstart").val();
    var addend = $("#adddate").val() + " " + $("#addend").val();
    $.ajax({
      url: "fitnessProgramAdd",
      dataType: "json", //返回格式为json
      async: false, //请求是否异步，默认为异步，这也是ajax重要特性
      data: {
        "title": $("#addtitle").val(),
        "start": addstart,
        "end": addend,
        "type": 2,
        "memberid": $("#memberid").val()
      }, //参数值
      type: "GET", //请求方式
      success: function (result) {
        if (result.success) {
          calendar.refetchEvents();
          /* var url = "selectByMemberId/" + $("#memberid").val();
          calendar.getEvents().filter(function(event){
              event.remove();
          })
          calendar.addEventSource(url); */
          $('#addModal').modal('toggle');
          $("#addtitle").val('');
          parent.showMessage('success', result.errMsg);
        } else {
          parent.showMessage('danger', result.errMsg);
        }
      }
    })
  });

  $('#editEvent').click(function () {
    var addstart = $("#editdate").val() + " " + $("#editstart").val();
    var addend = $("#editdate").val() + " " + $("#editend").val();
    $.ajax({
      url: "fitnessProgramEdit",
      dataType: "json", //返回格式为json
      async: false, //请求是否异步，默认为异步，这也是ajax重要特性
      data: {
        "id": $("#editid").val(),
        "title": $("#edittitle").val(),
        "start": editstart,
        "end": editend
      }, //参数值
      type: "GET", //请求方式
      success: function (result) {
        if (result.success) {
          calendar.refetchEvents();
          /* var url = "selectByMemberId/" + $("#editid").val();
            calendar.getEvents().filter(function(event){
               event.remove();
            })
            calendar.addEventSource(url); */
          $('#editModal').modal('toggle');
          parent.showMessage('success', result.errMsg);
        } else {
          parent.showMessage('danger', result.errMsg);
        }
      }
    })
  });

  $('#delEvent').click(function () {
    var message = parent.confirm("确定删除吗？");
    if (message) {
      $.ajax({
        url: "fitnessProgramDel",
        dataType: "json", //返回格式为json
        async: false, //请求是否异步，默认为异步，这也是ajax重要特性
        data: {
          "id": $("#editid").val(),
        }, //参数值
        type: "GET", //请求方式
        success: function (result) {
          if (result.success) {
            calendar.refetchEvents();
            $('#editModal').modal('toggle');
            parent.showMessage('success', result.errMsg);
          } else {
            parent.showMessage('danger', result.errMsg);
          }
        }
      })
    } else {
    }

  });
</script>
</body>
</html>