<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>大学生精准就业辅导系统</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="css/fontsGoogleapis.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/bootoast.css">
  
</head>

<body id="home" style="margin:0">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <div class="col-lg-12" style="height:50px;background-color:#444;padding-top:15px;text-align:center;">
            <div class="col-lg-11" style="margin-top:0;font-size:20px;color:white">大学生精准就业辅导系统</div>
            <a class="col-lg-1" href="login" style="color:gray" align="right"><i class="fas fa-sign-out-alt fa-2x" style="margin-right:20px" aria-hidden="true"></i></a>
        </div>
        <div class="col-lg-12" id="page_main" style="background-color:black;padding:0">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 btn btn-lg" id="1title" style="color:#eeeeee;">课程培训</div>
            <div class="col-lg-2 btn btn-lg" id="2title" style="color:gray;">学习历程</div>
            <div class="col-lg-2 btn btn-lg" id="3title" style="color:gray;">简历</div>
            <div class="col-lg-2 btn btn-lg" id="4title" style="color:gray;">个人中心</div>    
            <div class="col-lg-2"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-3 nav navbar-nav" id="second_title1">
                <br><br><br><br><br><br><br><br>
                <a id="second_title1" class="col-lg-12 btn btn-lg"  style="margin:10px;color:#eeeeee;font-size:15px" href="user_mgmt" target="main_iframe">专业课程 &nbsp;&nbsp;&nbsp;&nbsp;></a>
                <div class="col-lg-12 btn btn-lg" style="margin:10px;color:#eeeeee;font-size:15px">面试技巧 &nbsp;&nbsp;&nbsp;&nbsp;></div>
                <div class="col-lg-12 btn btn-lg" style="margin:10px;color:#eeeeee;font-size:15px">阶段测试 &nbsp;&nbsp;&nbsp;&nbsp;></div>
            </div>
            <div class="col-lg-3" id="second_title2" hidden>
                <br><br><br><br><br><br><br><br>
                <div class="col-lg-12 btn btn-lg" style="margin:10px;color:#eeeeee;font-size:15px">学习监控 &nbsp;&nbsp;&nbsp;&nbsp;></div>
                <div class="col-lg-12 btn btn-lg" style="margin:10px;color:#eeeeee;font-size:15px">操作日志 &nbsp;&nbsp;&nbsp;&nbsp;></div>
                
            </div>
            <div class="col-lg-3" id="second_title3" hidden>
                <br><br><br><br><br><br><br><br>
                <div class="col-lg-12 btn btn-lg" style="margin:10px;color:#eeeeee;font-size:15px">生成简历 &nbsp;&nbsp;&nbsp;&nbsp;></div>
                
            </div>
            <div class="col-lg-3" id="second_title4" hidden>
                <br><br><br><br><br><br><br><br>
                <div class="col-lg-12 btn btn-lg" style="margin:10px;color:#eeeeee;font-size:15px">学习效果问卷调查 &nbsp;&nbsp;&nbsp;&nbsp;></div>
                <div class="col-lg-12 btn btn-lg" style="margin:10px;color:#eeeeee;font-size:15px">测试结果 &nbsp;&nbsp;&nbsp;&nbsp;></div>
                <div class="col-lg-12 btn btn-lg" style="margin:10px;color:#eeeeee;font-size:15px">账号密码 &nbsp;&nbsp;&nbsp;&nbsp;></div>
            </div>
            <div class="col-lg-5"></div>
            <iframe class="col-lg-12" src="" name="main_iframe"  style="padding:0"  frameborder="0" width="100%">
            </iframe>
        </div>
    </div>
    
  

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  
  <script type="text/javascript" src="js/bootoast.js"></script>

  <script type="text/javascript">
  

  $(function(){  
      $("#page_main").css("height",Number($(window).height()-50));
      $("#1title").click(function(){
    	  $("iframe").prop("hidden",true);
    	  $("div[id$='title'").css("color","gray");
    	  $("#1title").css("color","#eeeeee")
    	  $("div[id^='second_title']").prop("hidden",true);
    	  $("#second_title1").prop("hidden",false);
      });
      $("#2title").click(function(){
    	  $("iframe").prop("hidden",true);
    	  $("div[id$='title'").css("color","gray");
    	  $("#2title").css("color","#eeeeee")
    	  $("div[id^='second_title']").prop("hidden",true);
    	  $("#second_title2").prop("hidden",false);
      });
      $("#3title").click(function(){
    	  $("iframe").prop("hidden",true);
    	  $("div[id$='title'").css("color","gray");
    	  $("#3title").css("color","#eeeeee")
    	  $("div[id^='second_title']").prop("hidden",true);
    	  $("#second_title3").prop("hidden",false);
      });
      $("#4title").click(function(){
    	  $("iframe").prop("hidden",true);
    	  $("div[id$='title'").css("color","gray");
    	  $("#4title").css("color","#eeeeee")
    	  $("div[id^='second_title']").prop("hidden",true);
    	  $("#second_title4").prop("hidden",false);
      });
      $("a[id^='second_title']").click(function(){
    	  $("iframe").prop("hidden",false);
    	  $("div[id^='second_title']").prop("hidden",true);
    	  $("iframe").height(Number($(window).height()-100));
      })
  })
  
  
  </script>

</body>

</html>
