<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>大学生精准就业辅导管理系统</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/fontsGoogleapis.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="css/bootoast.css">
    <style>
        code {
            line-height: 29px;
            background-color: #F5F5F5;
            color: gray;
        }

    </style>
</head>

<body>
<div id="personal" class="col-lg-12" style="padding:0;margin:0;padding-top:50px;padding-bottom:50px">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="background-color:#F5F5F5;">
        <div class="col-lg-1"></div>
        <div class="col-lg-10" style="margin-top:30px;margin-bottom:30px;padding-bottom:30px;border:1px solid #ddd;">
            <div class="col-lg-12" style="color:gray" align="center"><br><br><br>
                <h3>个人信息</h3><br><br><br><br></div>
            <div class="col-lg-1"></div>
            <div style="color:gray;" class="col-lg-10">
                <h4>基本信息</h4>
                <div style="border:1px solid #ddd;margin-bottom:30px;padding-bottom:20px;" class="col-lg-12">
                    <div class="col-lg-8">
                        <input type="hidden" id="id">
                        <div class="col-lg-12">
                            <div class="col-lg-3"><code>姓名:</code></div>
                            <input class="col-lg-3 form-control" id="name" placeholder="Fancy">
                            <div class="col-lg-3"><code>年龄:</code></div>
                            <input class="col-lg-3 form-control" id="age" placeholder="24">
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-3"><code>电话:</code></div>
                            <input class="col-lg-3 form-control" id="phoneNum" placeholder="13335432376">
                            <div class="col-lg-3"><code>邮箱:</code></div>
                            <input class="col-lg-3 form-control" placeholder="xxxx@qq/163/ectxxx.com" id="email">
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-3"><code>地址:</code></div>
                            <input class="col-lg-3 form-control" id="place" placeholder="黑龙江省大庆市龙凤区祥阁小区7号楼2单元301室">
                            <div class="col-lg-3"><code>毕业院校:</code></div>
                            <input class="col-lg-3 form-control" id="school" placeholder="东北石油大学">
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-3"><code>最高学历:</code></div>
                            <input class="col-lg-3 form-control" id="education" placeholder="硕士">
                            <div class="col-lg-3"><code>薪资要求:</code></div>
                            <input class="col-lg-3 form-control" id="money" placeholder="5000-7000">
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-3"><code>教育背景:</code></div>
                            <textarea class="col-lg-3 form-control" id="project" style="min-height:80px;"
                                      placeholder="2013/9/1-2017/6/23 东北石油大学计算机与工程学院软件学院">
                           
                       </textarea>
                        </div>
                    </div>
                    <div class="col-lg-4">

                    </div>
                </div>

                <h4>实习经历</h4>
                <textarea class="col-lg-12" id="work" style="border:1px solid #ddd;height:200px;margin-bottom:20px"
                          placeholder="2013/9/1-2014/3/1 油公司温度报警管理系统开发维护">
               </textarea>
                <h4>自我评价</h4>
                <textarea class="col-lg-12" id="advantage" style="border:1px solid #ddd;height:200px;"
                          placeholder="Praise me"></textarea>


                <div class="col-lg-12" align="right" style="margin:20px">
                    <input type="button" class="btn btn-success" value="修改" id="modify" onClick="modify_resum();">
                </div>
            </div>
            <br><br><br><br><br><br>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="col-lg-1"></div>

</div>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->

<script type="text/javascript" src="js/bootoast.js"></script>

<script>
    var resum = "";
    $(function () {
        $.ajax({
            url: "/resume",
            dataType: "json", //返回格式为json
            async: false, //请求是否异步，默认为异步，这也是ajax重要特性
            type: "GET", //请求方式
            success: function (tmp) {
                resum = tmp;
                tmp = tmp.data;
                for (key in tmp) {
                    if (tmp[key]) {
                        $("#" + key).prop('value', tmp[key]);
                    } else {
                        $("#" + key).prop('value', '');
                    }
                }
                ;
            }
        })
    });

    function modify_resum() {
        for (key in resum.data) {
            if ($("#" + key).val() != "") {
                resum.data[key] = $("#" + key).val();
            } else {
                resum.data[key] = null;
            }
        }
        console.log(resum)

        $.ajax({
            url: "/updateResume",
            async: false, //请求是否异步，默认为异步，这也是ajax重要特性
            dataType: "json",
            data: {
                id:$("#id").val(),
                name: $("#name").val(),
                age: $("#age").val(),
                sex: $("#sex").val(),
                education: $("#education").val(),
                school: $("#school").val(),
                major: $("#major").val(),
                advantage: $("#advantage").val(),
                place: $("#place").val(),
                money: $("#money").val(),
                work: $("#work").val(),
                project: $("#project").val(),
            },
            type: "POST", //请求方式
            success: function () {

            }
        })
    }
</script>

</body>

</html>
