<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>所罗门学习风格自测</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/fontsGoogleapis.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>
<style>
    .modal-backdrop{
        z-index:1000;
    }
    tr td{
        border:1px solid #ddd;
        text-align:center;
    }
</style>
<body id="page-top" style="background-color: #ddf4ff">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-md-6" style="background-color: white">
                <div class="row" id="solomon_explain">
                    <div class="card shadow mb-4">
                        <div><br></div>
                        <div class="card-body">
                            <h6 style="text-align: center" class="m-0 font-weight-bold text-primary">所罗门学习风格自测</h6>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;虽然教育者早就注意到学生们在学习风格（或可称认知风格）
                                方面有很大差异，但苦于没有很好的测试方法
                                所罗门（B.A.rB.A.rA. A.. SolomA.n）从信息加工、感知、输入、理解四个方面将学习风格分为4个组对8种类型，
                                它们是：活跃型与沉思型、感悟型与直觉型、视觉型与言语型、序列型与综合型，并设计了具有很强操作性的学习风格量表，
                                可以较好地进行学习风格的测试
                                您属于什么样的学习风格？不妨利用下面的自测问卷表和分析表来测试一下
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="margin: auto">
                        <div id="result_submit" class="btn btn-success btn-circle btn-lg" onClick="handle_click_check()">
                            <i class="fas fa-check"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="row" id="result_table" hidden>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="3" style="border:1px solid #ddd">活跃型/沉思型</th>
                                <th colspan="3" style="border:1px solid #ddd">感悟型/直觉型</th>
                                <th colspan="3" style="border:1px solid #ddd">视觉型/言语型</th>
                                <th colspan="3" style="border:1px solid #ddd">序列型/综合型</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>问题</td>
                                <td>A</td>
                                <td>B</td>
                                <td>问题</td>
                                <td>A</td>
                                <td>B</td>
                                <td>问题</td>
                                <td>A</td>
                                <td>B</td>
                                <td>问题</td>
                                <td>A</td>
                                <td>B</td>
                            </tr>
			    <tbody id="solomon_test_result"></tbody>
                            <tr>
                                <td rowspan="2">合计</td><td>A</td><td>B</td>
                                <td rowspan="2">合计</td><td>A</td><td>B</td>
                                <td rowspan="2">合计</td><td>A</td><td>B</td>
                                <td rowspan="2">合计</td><td>A</td><td>B</td>
                            </tr>
                            <tr>
                                <td id="total_a"></td><td></td>
                                <td></td><td></td>
                                <td></td><td></td>
                                <td></td><td></td>
                            </tr>
                            <tr><td colspan="12">（较大数-较小数）+较大数字母</td></tr>
                            <tr><td colspan="3">活跃型/沉思型</td><td colspan="3">感悟型/直觉型</td><td colspan="3">视觉型/言语型</td><td colspan="3">序列型/综合型</td></tr>
                            <tr><td colspan="3" id="user_type"></td><td colspan="3"></td><td colspan="3"></td><td colspan="3"></td></tr>
                        </tbody>
                    </table>
                </div>
    	    </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script>
        $(function(){
	    render_solomon_item();
	})

	function render_result_table(){
	    var tb="";
	    for(var i=1;i<45;i=i+4){
	        tb+='<tr><td id="'+Number(i-1)+'">'+i+'</td><td></td><td></td>'+
                    '<td id="'+i+'">'+Number(i+1)+'</td><td></td><td></td>'+
                    '<td id="'+Number(i+1)+'">'+Number(i+2)+'</td><td></td><td></td>'+
	            '<td id="'+Number(i+2)+'">'+Number(i+3)+'</td><td></td><td></td></tr>';
	    }
	    $("#solomon_test_result").empty(); 
            $("#solomon_test_result").append(tb);
	    var all_result=get_all_choose();
	    $("#solomon_test_result td[id=null]").html("");
	    for(var i=0;i<44;i++){
		if(all_result[i]=="a"){
	            $("td[id='"+i+"']").next().html("*");
		}else{
		    $("td[id='"+i+"']").next().next().html("*");
		}
	    }
	    var active_muse=get_one_result(0,41);
	    var reason_emotion=get_one_result(1,42);
	    var vision_verbal=get_one_result(2,43);
	    var order_intergrate=get_one_result(3,44);
	    $("#total_a").html(active_muse[0]);
	    $("#total_a").next().html(active_muse[1]);
	    $("#total_a").next().next().html(reason_emotion[0]);
	    $("#total_a").next().next().next().html(reason_emotion[1]);
	    $("#total_a").next().next().next().next().html(vision_verbal[0]);
	    $("#total_a").next().next().next().next().next().html(vision_verbal[1]);
	    $("#total_a").next().next().next().next().next().next().html(order_intergrate[0]);
	    $("#total_a").next().next().next().next().next().next().next().html(order_intergrate[1]);
	    
	    var active_muse=get_result('A','B',0,41);
	    var reason_emotion=get_result('A','B',1,42);
	    var vision_verbal=get_result('A','B',2,43);
	    var order_intergrate=get_result('A','B',3,44);
	    $("#user_type").html(active_muse[0]+active_muse[1]);
	    $("#user_type").next().html(reason_emotion[0]+reason_emotion[1]);
	    $("#user_type").next().next().html(vision_verbal[0]+vision_verbal[1]);
	    $("#user_type").next().next().next().html(order_intergrate[0]+order_intergrate[1]);
        }
        function render_solomon_item(){
            var solomon_source=[
	        ["为了较好的理解某些事物，我首先","我办事喜欢","当我回想以前做过的事,我的脑海中大多会出现","我往往会","在学习某些东西时，我不禁会","如果我是一名教师,我比较喜欢教","我比较偏爱的获取新信息的媒体是","一旦我了解了","在学习小组中遇到难题时,我通常会","我发现比较容易学习的是","在阅读一本带有许多插图的书时,我一般会","当我解决数学题时,我常常","在我修课的班级中","在阅读非小说类作品时,我偏爱","我喜欢的教师是","当我在分析故事或小说时","当我做家庭作业时,我比较喜欢","我比较喜欢","我记得最牢是","我特别喜欢教师","我喜欢","我更喜欢被认为是","当要我到一个新的地方去时,我喜欢","我学习时","我办事时喜欢","当我阅读趣闻时,我喜欢作者","当我在上课时看到一幅图,我通常会清晰地记着","当我思考一大段信息资料时,我通常","我最容易记住","当我执行一项任务是,我喜欢","当有人向我展示资料时,我喜欢","当我写文章时,我通常","当我必须参加小组合作课题时,我要","当我要赞扬他人时,我说他是","当我在聚会时与人见过面,我通常会记得","当我学习新的科目时,我喜欢","我通常被他人认为是","我喜欢的课程内容主要是","在娱乐方面,我喜欢","有些教师讲课时先给出一个提纲,这种提纲对我","我认为只给合作的群体打一个分数的想法","当我长时间地从事计算工作时","我能画下我去过的地方","当在小组中解决问题时,我更可能是"],
		["试试看","讲究实际","一幅画面","明了事物的细节但不明其总体结构","谈论它","关于事实和实际情况的课程","图画、图解、图形及图象","事物的所有部分,我就能把握其整体","挺身而出,畅所欲言","事实性内容","仔细观察插图","思考如何一步一步求解","我通常结识许多同学","那些能告诉我新事实和教我怎么做的东西","在黑板上画许多图解的人","我想到各种情节并试图把他们结合起来去构想主题","一开始就立即做解答","确定性的想法","看到的东西","向我条理分明地呈示材料","在小组中学习","对工作细节很仔细","要一幅地图","总是按部就班,我相信只要努力,终有所得","试试看","以开门见山的方式叙述","那幅图","注意细节而忽视概貌","我做过的事","掌握一种方法","图表","先思考和着手写文章的开头,然后循序渐进","大家首先'集思广益',人人贡献主意","很敏感的","他们的模样","全力以赴,尽量学得多学得好","外向的","具体材料(事实、数据)","看电视","有所帮助","吸引我","我喜欢重复我的步骤并仔细地检查我的工作","很容易且相当精确","思考解决问题的步骤"],
	        ["深思熟虑","标新立异","一些话语","明了事物的总体结构但不明其细节","思考它","关于思想和理论方面的课程","书面指导和言语信息","事物的整体,我就知道其构成部分","往后退让,倾听意见","概念性内容","集中注意文字","先看解答,然后设法得出解题步骤","我认识的同学寥寥无几","那些能启发我思考的东西","花许多时间讲解的人","当我读完时只知道主题是什么,然后我得回头去寻找有关情节","首先设法理解题意","推论性的想法","听到的东西","先给我一个概貌,再将材料与其他论题相联系","独自学习","对工作很有创造力","要书面指南","我有时完全糊涂,然后恍然大悟","想好再做","以新颖有趣的方式叙述","教师对那幅图的解说","先了解概貌而后深入细节","我想过的许多事","想出多种方法","概括其结果的文字","先思考和写作文章的不同部分,然后加以整理","各人分头思考,然后集中起来比较各种想法","想象力丰富的","他们的自我介绍","试图建立该科目与其他有关科目的联系","保守的","抽象材料(概念、理论)","看书","很有帮助","不吸引我","我认为检查工作非常无聊,我是在逼迫自己这么干","很困难且没有许多细节","思考可能的结果及其在更广泛的领域内的应用"]
	    ];
		for(var i=Number(solomon_source[0].length-1);i>=0;i--){
                var solomon_item=
	            '<div class="row">'+
	                '<div class="col-lg-2"></div>'+
			'<div class="col-lg-8">'+
			    '<div class="card shadow mb-4">'+
			         '<div class="card-header py-3">'+
			             '<h6 class="m-0 font-weight-bold text-primary">'+Number(i+1)+'.'+solomon_source[0][i]+'</h6>'+
			         '</div>'+
			         '<div class="card-body">'+
			             '<div class="radio">'+
			                  '<label><input type="radio" name="options'+i+'" id="options'+i+'_a" value="a" checked />'+'A:'+solomon_source[1][i]+'</label>'+
			             '</div>'+
			             '<div class="radio">'+
			                  '<label><input type="radio" name="options'+i+'" id="options'+i+'_b" value="b" />'+'B:'+solomon_source[2][i]+'</label>'+
			             '</div>'+
			         '</div>'+
			     '</div>'+
			'</div>'+
	            '</div>';
		$("#solomon_explain").after(solomon_item);
	    }
	}

        function get_result(one_type,theother_type,start_number,end_number){
            var A_count=0;
    	    var B_count=0;
    	    for(var i=start_number;i<end_number;i=i+4){
    		if("a"==$("input[name=options"+i+"]:checked").val()){
    		    A_count++;
    		}else{
    		    B_count++;
    		}
    	    }
    	    var result=[];
    	    if(A_count>B_count){
    		result.push(Number(A_count-B_count));
    		result.push(one_type);
    	    }else{
    	        result.push(Number(B_count-A_count));
    	        result.push(theother_type);
    	    }
    	    return result;
	}

        function get_one_result(start_number,end_number){
	    var A_count=0;
	    var B_count=0;
	    for(var i=start_number;i<end_number;i=i+4){
	        if("a"==$("input[name=options"+i+"]:checked").val()){
		    A_count++;
		}else{
		    B_count++;
		}
	    }
	    return [A_count,B_count];
	}

        function get_all_choose(){
            var all_result=[];
	    for(var i=0;i<44;i++){		
		all_result.push($("input[name=options"+i+"]:checked").val());
	    }
	    return all_result;
	}        

        function handle_click_check(){
	    var result=[];
	    $("#result_table").next().empty();
	    
	    $("#result_table").prop("hidden",false);
	    $("input[type='radio']").prop("disabled",true);
	    $("#result_submit").prop("hidden",true);
	    
	    render_result_table();
	    result.push(get_result("你是位活跃型学习者，倾向于通过积极地做一些事—讨论或应用或解释给别人听来掌握信息。更喜欢集体工作。","你是位沉思型学习者，更喜欢首先安静地思考问题。",0,41));
	    result.push(get_result("你是位感悟型学习者，喜欢学习事实，不喜欢复杂情况和突发情况，痛恨测试一些在课堂里没有明确讲解过的内容。你对细节很有耐心，很擅长记忆事实和做一些现成的工作。实际而且仔细，不喜欢与现实生活没有明显联系的课程。","你是位直觉型学习者，倾向于发现某种可能性和事物间的关系。喜欢革新不喜欢重复。擅长于掌握新概念，工作得更快更具有创新性。不喜欢那些包括许多需要记忆和进行常规计算的课程。",1,42));
            result.push(get_result("你是位视觉型学习者，很擅长记住他们所看到的东西，如图片、图表、流程图、图像、影片和演示中的内容，当通过视觉和听觉同事呈现信息时，你能获取更多信息。","你是位言语型学习者，更擅长从文字的和口头的解释中获取信息。当通过视觉和听觉同时呈现信息时，你能获得更多信息",2,43));
            result.push(get_result("你是位序列型学习者，习惯按线性步骤理解问题，每一步都合乎逻辑地紧跟前一步。倾向于按部就班地寻找答案。","你是位综合型学习者，习惯大步学习，吸收没有任何联系的随意的材料，然后突然获得它。能更快地解决复杂问题或者一旦他们抓住了主要部分就用新奇的方式将它们组合起来，但他们却很难解释清楚他们是如何工作的。",3,44));
            var result_tmp="";
            if(result.sort().reverse()[0][0]!=result.sort().reverse()[1][0]){
            	result_tmp=result.sort().reverse()[0][1];
            }
            if(result.sort().reverse()[0][0]==result.sort().reverse()[1][0]){
	        result_tmp=result.sort().reverse()[0][1]+result.sort().reverse()[1][1];
	    }
	    if(result.sort().reverse()[0][0]==result.sort().reverse()[2][0]){
	    	result_tmp=result.sort().reverse()[0][1]+result.sort().reverse()[1][1]+result.sort().reverse()[2][1];
	    }
	    if(result.sort().reverse()[0][0]==result.sort().reverse()[3][0]){
	    	result_tmp=result.sort().reverse()[0][1]+result.sort().reverse()[1][1]+result.sort().reverse()[2][1]+result.sort().reverse()[3][1];
	    }
	        
	    
	    var summary='<div class="raw"><h7>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如上图数据所示，'+result_tmp+'</h7><br><br><br>'+
	        '<h7>根据所罗门测试结果，为您精心准备了符合您性格的课程安排，请点击“开始学习”，开启您的旅程吧。'+
		'</h7><br><br><br></div>'+
		'<div class="raw" align="center"><input type="button" class="btn btn-success" href="../../" value="开始学习" ></div><br><br><br><br><br>';
	    $("#result_table").after(summary);
        }
    </script>
</body>
</html>
